
@media screen and (min-width: 681px) and (max-width: 1064px) {

	/*--------------------------Règles générales---------------------------*/

	h1/*titres principaux des sections*/
	{
		font-size: 1.5rem;/*taille de la police*/
	}

	h2/*Sous-titres*/
	{
		font-size: 1.2rem;/*taille de la police*/
	}

	h3/*Titres de photos*/, p/*texte de base*/
	{
		font-size: 1.1rem;/*taille de la police*/
	}

	/*-------------------------------En-tête----------------------------------*/

body
{
	border: solid;
}

	.reservia/*logo (image)*/
	{
		margin-left: 30px;
	}



	/*-----------------------------------Filtres---------------------------------*/

	.filtres/*filtres sans titre général*/
	{
		flex-wrap: wrap;
	}

	/*--------------------------------Hébergements----------------------------------*/

	.hebergements/*bloc section hébergements (titre + cartes + afficherplus)*/
	{
		height: 54rem;/*hauteur*/
	}

	.carteshebergements/*bloc cartes*/
	{
		grid-gap: 1rem 0;/*espace entre cartes*/
	}

	.cartes/*cartes (photo + description)*/
	{
		width: 47%;/*largeur carte*/
		height: 13rem;/*hauteur carte*/
	}

	.note
	{
		margin: 0.7rem 0 1rem 0.7rem;
	}

	#afficherplus
	{
		margin-top: 275px;	
	}


	/*-----------------------------------Populaires----------------------------------*/

	.populaires/*bloc gris section populaires (titre + cartes)*/
	{
		height: 54rem;/*hauteur*/
	}

	#titrepopulaire/*bloc titre + icône*/
	{
		margin-top: 1.8rem;
	}

	.photos2/*photos populaires*/
	{
		width: 95%;/*largeur photos*/
		height: 7rem;
		float: none;/*photo suit la dispo flexbox*/
		border-radius: 0.9rem 0.9rem 0 0;/*coins gauches arrondis*/
		margin-bottom: 0;
	}

	.sansphoto/*description + note*/
	{
		height: 40%;
		background-color: darkred;
	}

	.description2/*description photos*/
	{
		height: 40%;
		background-color: palevioletred;
	}

	.description2 p
	{
		background-color: skyblue;
	}

	.note2/*bloc note étoiles*/
	{
		margin-top: 2rem;
	}

	/*----------------------Hébergements et Populaires------------------------------*/

	.toushebergements/*bloc section hebergements et populaires*/
	{
		height: 53.5rem;/*hauteur*/
	}


	/*----------------------------------------Activités-----------------------------------------------*/





	
	
}