
@media screen and (min-width: 681px) and (max-width: 1064px) {

	/*--------------------------Règles générales---------------------------*/

	h1/*titres principaux des sections*/
	{
		font-size: 1.5rem;/*taille de la police*/
	}

	h2/*Sous-titres*/
	{
		font-size: 1.2rem;/*taille de la police*/
	}

	h3/*Titres de photos*/, p/*texte de base*/
	{
		font-size: 0.9rem;/*taille de la police*/
	}

	/*-------------------------------En-tête----------------------------------*/


	.reservia/*logo (image)*/
	{
		margin-left: 30px;
	}



	/*-----------------------------------Filtres---------------------------------*/

	.filtres/*filtres sans titre général*/
	{
		width: 90%;
		height: auto;
		margin: 0 4% 0 4%;
		flex-wrap: wrap;
	}

	.filtre/*intitulés filtres + contour gris*/
	{
		margin-bottom: 0.7rem;
	}

	/*---------------------------Info------------------------------*/

	.infotexte/*icon info + texte*/
	{
		margin-top: 1.5rem;
	}

	/*--------------------------------Hébergements----------------------------------*/

	.hebergements/*bloc section hébergements (titre + cartes + afficherplus)*/
	{
		height: 54rem;/*hauteur*/
	}

	.carteshebergements/*bloc cartes*/
	{
		grid-gap: 1rem 0;/*espace entre cartes*/
	}

	.cartes/*cartes (photo + description)*/
	{
		width: 47%;/*largeur carte*/
		height: 13rem;/*hauteur carte*/
	}

	.description/*bloc description de l'hébergement*/
	{
		height: auto;/*hauteur*/
		margin-left: 0.4rem;
		line-height: 0;/*espace entre lignes de texte*/
	}

	.description h3
	{
		margin-top: 0.5rem;
		line-height: 1.3rem;
	}

	.note
	{
		margin: 0.7rem 0 1rem 0.4rem;
	}

	#afficherplus
	{
		margin-top: 275px;	
	}


	/*-----------------------------------Populaires----------------------------------*/

	.populaires/*bloc gris section populaires (titre + cartes)*/
	{
		height: 54rem;/*hauteur*/
	}

	#titrepopulaire/*bloc titre + icône*/
	{
		margin-top: 1rem;
	}

	#cartespopulaires/*bloc cartes*/
	{
		width: 84%;
		margin: 3rem 8% 0 8%;/*marges ext*/
	}

	.cartes2/*cartes blanches populaires (photo + desciption + note)*/
	{
		height: 32%;/*hauteur cartes*/
	}

	.photos2/*photos populaires*/
	{
		width: 95%;/*largeur photos*/
		height: 6rem;
		float: none;/*photo suit la dispo flexbox*/
		border-radius: 0.9rem 0.9rem 0 0;/*coins gauches arrondis*/
		margin-bottom: 0;
	}

	.sansphoto/*description + note*/, .description2/*description photos*/
	{
		height: 40%;
	}

	.description2 h3
	{
		margin-top: 0.5rem;
	}

	.description2 p
	{
		line-height: 1.2rem;
	}

	.note2/*bloc note étoiles*/
	{
		margin-top: 3.5rem;
	}

	/*----------------------Hébergements et Populaires------------------------------*/

	.toushebergements/*bloc section hebergements et populaires*/
	{
		height: 53.5rem;/*hauteur*/
	}


	/*----------------------------------------Activités-----------------------------------------------*/

	.titreactivites
	{
		width: 80%;
		margin-bottom: 1.3rem;/*marge ext bas*/
		margin-left: 4.5%;/*marge ext gauche*/
	}

	.cartesactivités/*bloc cartes*/
	{
		width: 93%;/*largeur*/
		flex-direction: column;/*éléments à la suite sur une colonne*/
		margin-top: 1.3rem;/*marge ext haute (entre haut bloc cartes et titre)*/
		margin-left: 3.5%;
	}

	.grandescartes/*carte vieux port + carte calanques*/
	{
		margin-left: 0;
	}

	.souscarte/*sous bloc carte (pomègues+Frioul et notre-dame+Longchamp)*/
	{
		width: 100%;/*largeur bloc*/
		grid-gap: 0;/*ajustement visuel*/
	}

	.grandescartes, #cartepomegues, #cartefrioul, #cartenotredame, #cartelongchamp/*toutes les cartes*/
	{
		width: 100%;/*largeur*/
		height: 11.9rem;/*hauteur*/
	}

	.grandesphotos, #photopomegues, #photofrioul, #photonotredame, #photolongchamp/*toutes les photos*/
	{
		width: 100%;
		height: 8.4rem;/*hauteur*/
	}

	.description3/*descriptions photos activités*/
	{
		margin-left: 20px;
	}




	/*----------------------------------------Pied de Page-----------------------------------------------*/

	.pieddepage/*footer int*/
	{
		width: 83%;
	}

}